{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Channels</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Boards</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Nome</th>
            <th>HiRes</th>
            <th>LowRes</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for channel in channels %}
            <tr>
              <td>
                {{ channel.name }}
              </td>
              <td class="align-middle">{{ channel.hiresLifetime }}</td>
              <td class="align-middle">{{ channel.lowresLifetime }}</td>
              <td class="align-middle">
                {% if channel.status %}
                   <span class="badge badge-success">Habilitado</span>
                {% else %}
                   <span class="badge badge-default">Desabilitado</span>
                {% endif %}
              </td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>